@model QuanLyBanGiay_ADMIN.Models.AnhSp
@{
    ViewData["Title"] = "Pictures";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-info">HÌNH ẢNH SẢN PHẨM</h2>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="UpDateHinhAnh" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã sản phẩm</label>
                            <input type="text" class="form-control" asp-for="MaSanpham" readonly>
                        </div>
                        <div class="form-group">
                            <label for="file">Chọn ảnh 1</label>
                            <input type="file" id="file" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="file2">Chọn ảnh 2</label>
                            <input type="file" id="file2" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="file3">Chọn ảnh 3</label>
                            <input type="file" id="file3" accept="image/*">
                        </div>
                        <label for="exampleInputEmail1">Hình ảnh</label>
                        <table class="table table-bordered text-center">
                            <thead class="bg-aqua text-light">
                                <tr>
                                    <th>
                                        <label for="link1" style="color:black">Ảnh 1</label>
                                        <input type="text" class="form-control" id="link1" asp-for="Link1" readonly>
                                    </th>
                                    <th>
                                        <label for="link2" style="color:black">Ảnh 2</label>
                                        <input type="text" class="form-control" id="link2" asp-for="Link2" readonly>
                                    </th>
                                    <th>
                                        <label for="link3" style="color:black">Ảnh 3</label>
                                        <input type="text" class="form-control" id="link3" asp-for="Link3" readonly>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img id="a1" class="product-image" src="~/img/product/@Model.Link1" />
                                    </td>
                                    <td>
                                        <img id="a2" class="product-image" src="~/img/product/@Model.Link2" />
                                    </td>
                                    <td>
                                        <img id="a3" class="product-image" src="~/img/product/@Model.Link3" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const fileInput = document.getElementById('file');
    const fileInput2 = document.getElementById('file2');
    const fileInput3 = document.getElementById('file3');

    const link1 = document.getElementById('link1');
    const link2 = document.getElementById('link2');
    const link3 = document.getElementById('link3');

    const lik1 = document.getElementById('a1');
    const lik2 = document.getElementById('a2');
    const lik3 = document.getElementById('a3');

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            link1.value = file.name;
            const reader = new FileReader();
            reader.onload = function (e) {
                lik1.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    fileInput2.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            link2.value = file.name;
            const reader = new FileReader();
            reader.onload = function (e) {
                lik2.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    fileInput3.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            link3.value = file.name;
            const reader = new FileReader();
            reader.onload = function (e) {
                lik3.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>
